.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
}
image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    
}
